mixin prod-list()
	.prod-list
		.prod-list__col
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='111') Моноблоки
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='91') Неттопы
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text(href=jv0 data-count='111') Моноблоки
				a.prod-list__text(href=jv0 data-count='91') Неттопы
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text(href=jv0 data-count='111') Моноблоки
				a.prod-list__text(href=jv0 data-count='91') Неттопы
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
		.prod-list__col
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='111') Моноблоки
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='91') Неттопы
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text(href=jv0 data-count='111') Моноблоки
				a.prod-list__text(href=jv0 data-count='91') Неттопы
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры
			.prod-list__item
				.prod-list__title(data-count='196') Компьютеры
				a.prod-list__text(href=jv0 data-count='11') Настольные ПК
				a.prod-list__text(href=jv0 data-count='111') Моноблоки
				a.prod-list__text(href=jv0 data-count='91') Неттопы
				a.prod-list__text(href=jv0 data-count='22') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='21') Микрокомпьютеры
				a.prod-list__text(href=jv0 data-count='9') Микрокомпьютеры
				a.prod-list__text.prod-list__text_sub(href=jv0 data-count='9') Микрокомпьютеры

