mixin numbers()
	.numbers
		a.numbers__item(href=jv0) <
		a.numbers__item(href=jv0) 1
		a.numbers__item(href=jv0) 2
		a.numbers__item.is-active(href=jv0) 3
		a.numbers__item(href=jv0) ...
		a.numbers__item(href=jv0) 4
		a.numbers__item(href=jv0) 5
		a.numbers__item(href=jv0) 6
		a.numbers__item(href=jv0) 7
		a.numbers__item(href=jv0) 8
		a.numbers__item(href=jv0) >
