mixin partners()
	.partners
		a.partners__item.partners__item_google(href=jv0)
		a.partners__item.partners__item_twitter(href=jv0)
		a.partners__item.partners__item_facebook(href=jv0)
		a.partners__item.partners__item_vk(href=jv0)
		a.partners__item.partners__item_mail(href=jv0)
		a.partners__item.partners__item_journal(href=jv0)

