mixin menu()
	.menu&attributes(attributes)
		a.menu__item.menu__item_sub(href=jv0) Каталог продукции
		a.menu__item(href=jv0) Компания
		a.menu__item(href=jv0) Оплата и доставка
		a.menu__item(href=jv0) Новости
		a.menu__item(href=jv0) Статьи
		a.menu__item.menu__item_last(href=jv0) Стать партнером
