mixin input(data)
	.input&attributes(attributes)
		input.input__item(
			class=data.class
			type=data.type
			name=data.name
			placeholder=data.place
			value=data.value)
		.input__plus +
		.input__minus -

